<article class="chatBox">
  <div class="history">
    <div class="texto">

    </div>
    <div class="downBox">
      <input id="textBox" type="text" />
      <button id="sendButton">Send</button>
    </div>
  </div>

</article>
<script src="./chat.js"></script>