<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="views.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <title>Motores de plantillas HandleBars</title>
  </head>
  <body>
    <header>
      <h1>Coderhouse Desafio Motor de plantillas</h1>
      <h2>HandleBars</h2>

    </header>
    {{{body}}}
    <footer>
      <h3>Adrian Daniel Abadin</h3>
      <address>aabadin@gmail.com</address>
    </footer>
  </body>
</html>