* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    color: yellow;

}

header {
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
    justify-content: flex-start;
    align-content: space-around;
    margin: 1rem;

}

h1 {
    font-size: 28px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 1rem;
    display:flex;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

.addProductForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.inputBox {
    border-radius: 15px;
    border: none;
    outline: 3px#d5d5d5 solid;
    width: 350px;
    margin: 1rem;
    padding: 0.5rem;
}

.inputBox:hover {
    outline: 5px#d1d1d1 solid;

}

.inputBox:focus {
    background-color: cornsilk;
}

.enviar {
    border-radius: 15px;
    background-color: yellow;
    border: none;
    outline: 3px#d5d5d5 solid;
    padding: 0.5rem;
    margin: 1rem;
    color: dimgrey;
    text-decoration: none;
}

.enviar:hover {
    outline: 5px#d1d1d1 solid;
    color: #000
}
.view{
    width:300px;
    height: 300px;
    box-shadow: 3px 3px 15px #d5d5d5;
padding: 1rem;
margin:1rem;
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}
.imgView{
    width: 200px;
}
.viewContainer{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
.mainView{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.mainView >h2{
    margin: 1rem;
}